<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoxiao.bbs.mapper.ActivityMapper">

    <update id="addCheer">
    update activity
    set cheer = cheer+1
    where id = #{activityId}
    </update>

    <update id="deleteCheer">
        update activity
    set cheer = cheer-1
    where id = #{activityId}
    </update>

    <select id="queryActivityListByKeyword" resultType="com.xiaoxiao.bbs.model.vo.ActivityVO">
        SELECT *
        FROM activity a
            LEFT JOIN bbs_like l
                      ON a.id = l.content_id
                          AND l.uid = #{userId}
                          AND l.flag = 1
                          AND l.type = 200
        <where>
            <if test="keyword != null and keyword != ''">
                MATCH(activity_topic, activity_local, activity_content) AGAINST(#{keyword})
            </if>
            AND a.is_delete = 0
        </where>
        ORDER BY a.create_time DESC
    </select>

</mapper>
